.theTable{
	background: #FFF;
	box-shadow: 0 2px 6px rgb(230,230,230);
	padding: 20px;
}

.theTable h1{
	font-weight: bold;
}

.Searchbar{
	width: 100%;
	display: flex;
	align-items: center;
}

.Newmember{
	background: #FFF;
	width: 60%;
	height: auto;
	border-radius: 2px;
	padding: 30px;
	padding-bottom: 40px;
	position: relative;
}

h1{
	font-weight: bold;
	font-size: 1.3em;
	padding-bottom: 14px;
}

p{
	font-weight: bold;
	font-size: 0.83em;
}


.flexFix{
	content: "";
	clear: both;
	display: table;
	margin-bottom: 10px;
}

.close-btn{
	position: absolute;
	right: 15px;
	top: 0px;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	color: #000;
	font-weight: bold;
	font-size: 1em;
}

input, select{
	background: rgba(240,240,240) !important;
	outline: none !important;
	border: none !important;
	font-size: 11px !important;
	border-radius: 4px !important;
	height: 30px !important;
	width: 100% !important;
	padding: 6px !important;
	margin-right: 2% !important;
	color: #000 !important;
}

.input-group{
	width: 48% !important;
	margin: 1% !important;
	float: left !important;
}

.input-group.small{
	width: 30% !important;
}