.sidebar{
	/* min-height: 650px;
	height: auto;
	overflow: hidden;
	position: relative;
	color: #000; */
	color:#000;
	height:100vh;
	overflow: hidden;
}

.sidebar.false{
	display: none !important;
}

.sidebar.true{
	width: 0;
}

.sidebar h1{
	font-weight: bold;
	font-size: 18px;
	padding: 20px;
	padding-bottom: 25px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}

.sidebar li{
	display: block;
	text-transform: uppercase;
	padding: 8px;
	padding-left: 15px;
	color: #FFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.sidebar li:hover, .sidebar li.active{
	background: #111;
	border-right: 5px solid #c1cf16;
	color: #c1cf16;
}

.powered{
	position: absolute;
	bottom: 0;
	color: #FFF;
	text-align: center;
	left: 0;
	right: 0;
	font-size: 0.8em;
}

.powered a{
	color: #FFF;
}

span.icon{
	color: white !important;
	padding: 0 10px !important;
	font-size: 18px !important;
}