.navbar{
	background: #FFF;
	padding: 4px 20px !important;
	border-bottom: 1px solid rgb(230,230,230);
	display: flex;
	align-items: center;
	position: relative;
}

.toggle{
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.line{
	background: #333;
	width: 90%;
	height: 4px;
	position: relative;
	border-radius: 2px;
}

.line::before, .line::after{
	background: inherit;
	width: 100%;
	height: 4px;
	position: absolute;
	content: '';
	border-radius: 2px;
}

.line::after{
	bottom: 6px;
}

.line::before{
	top: 6px;
}

.navbar img.awesomity{
	width: 25px;
	margin-left: 20px;
	margin-right: 5px;
}

.profile{
	flex: 1fr;
	position: absolute;
	right: 3px;

	display: flex;
	align-items: center;
}

.imgCont{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #999;
}

.imgCont img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
    margin-top: -38px;
}

.profile span.notfication{
	position: relative;
	display: block;
	width: 15px;
	margin-right: 20px;
	font-size: 15px;
	line-height: 30px;
}

.profile span.notfication::before{
	background: red;
	width: 7px;
	height: 7px;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	border-radius: 50%;
}

.profile p{
	padding: 0 10px;
}

.trigger{
	cursor: pointer;
	font-size: 20px;
}