.searchBox{
	width: 100%;
	padding: 1px 0 !important;
	margin: 15px !important;
	margin-left: 0 !important;
	background: #FFF;
	flex: 2fr;
	box-shadow:  0 2px 5px rgb(230,230,230);
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 4px;
}

.searchBox span{
	padding: 3px 10px !important;
    padding-right: 4px !important;
	line-height: 10px;
}

.searchBox input{
	background: none !important;
	width: 80%;
	border: none;
	outline: none;
	margin: 0 4px;
}

.filters{
	position: absolute;
	right: 10px;
	display: flex;
	align-items: center;
	font-size: 0.8em;
	cursor: pointer;
}

.filters p {
	padding: 0 10px;
}