@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	box-sizing: border-box;
	transition: 0.3s;
}

body{
	font-family: Montserrat, sans-serif;
	font-size: 12px !important;
	font-weight: 400 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
	background: #f5f5f5;
}

/*Text colors*/
.text_black{
	color: #38393b !important;
}

.text_maroon{
	color: #b32253 !important;
}

.text_red{
	color: #e52660 !important;
}

.text_white_green{
	color: #c1cf16 !important;
}

/*Backgrounds*/
.bg_black{
  background: #38393b !important;
}

.bg_white{
  background: #FFF !important;
}

.bg_deep_white{
  background: #eeeeee !important;
}

/*Typography*/
[class *= title_]{
	font-weight: 900 !important;
}

.title_1{
	font-size: 24px !important;
}

.title_2{
	font-size: 18px !important;
}

.title_3{
	font-size: 16px !important;
}

.title_4{
	font-size: 12px !important;
}

.text_info{
	font-size: 10px !important;
}

.text_lable{
	font-size: 11px !important;
}

.btn_primary{
	font-size: 0.75em;
	font-weight: 800 !important;
	padding: 8px;
	width: 130px;
	border-radius: 4px;
	color: #FFF;
	background: #000;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
}

/*Paddings*/
.pad06{padding: 0 6px !important;}
.pad010{padding: 0 10px !important;}
.pad020{padding: 0 20px !important;}


#model{
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	overflow-y: auto;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#model.hide{
	display: none;
}
